// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    padding: 30px;
    max-width: 911px;
    margin: 0 auto;
    font-family: "Inter";
}

svg {
    width: 20px;
}

.is-completed .complete-btn svg {
    background: #38c172;
    border-radius: 50px;
    fill: #fff;
}

tr.is-completed {
    text-decoration: line-through;
    color: #8e8e8e;
}

.wrapper-todo_list {
    padding: 20px;
    margin: 19px 10px;
    border-radius: 10px;
    border: solid 1px #bdf3c0;
}

.table-light,
.table-light > th,
.table-light > td {
    background: transparent;
}

tr.priority-High {
    background: #ff000014;
}

tr.priority-Medium {
    background: #ffeb3b38;
}

tr.priority-Low {
    background: #00968814;
}
