// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    padding: 30px;
    max-width: 911px;
    margin: 0 auto;
    font-family: "Inter";
}

svg {
    width: 20px;
}
